*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}
.header{
    width: 100vw;
    
    

}
.section1{
    width: 100vw;
    height: 150px;
    background-color: #EAC926;
   
}
.sec-sub1{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.cont1{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
  
 

}

.container-logo{
    width: 30%;
    height: 100%;
    margin-top: 8px;
 
    
    
}
.logo{
    width: 100%;
    height: 80%;



}

.buscador{
    width:50%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.buscar{
    width: 400px;
    border:solid 1px #EAC926;
    border-radius: 10px;
}
.lupa{
    width: 35px;
    border:solid 1px #EAC926;
    border-radius: 5px;
}
.forma-de-compra{
    width: 30%;
    height: 50%;
    margin-top: 15px;
}

.sec-sub2{

    width: 100%;
    height: 45%;


}


.cont2{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    
}
.nav1{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.nav-burguer{
    display: none;
}
.nav2{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.burger-menu{
    display: none;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #03264C;
    
}
a{
    text-decoration: none;
}
.section2{
    width: 100vw;
}
.baner-contain{
    width: 100%;
}
.banner{
    width: 100%;
}
.main{
    width: 100vw;
    
}
.productos{
    width: 100%;

    background-color: #ebebeb;
}
.container-p-c{
    padding: 0px 100px 100px 100px;
    
}
.productos-central{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tarjetas{
    width: 200px;
  
    background-color: white;
    border-radius: 10px;
   
}
.img-producto{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    

}
.caja-gral{
    border-top: solid #ebebeb 1px;
}
.camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 150px;
    bottom:15px;
}
.imagen{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 24px;
    background-color: #ebebeb;
}
.caja{
    display: ;
    text-align: left;
    padding: ;
    
    
}
.prec-desc{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.precio{
    width: 30%;
    line-height: 18px;
}

.descuentos{
    width: 70;
    font-size: 16px;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
}
.pie-de-pagina{
    text-align: center;
    
}
.articulos{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 20px 50px 10px 50px;
}
.forma-pago{
    width: 27%;

}
.envio-gratis{
    width: 27%;

}
.icono-footer{
    color: #1259c3;
   
}
.usuario-protegido{
    width: 27%;
}
.titulo-uno{
    font-weight: bold;
   
}

.cuerpoDetexto{
    font-size: 12px;
}



.ancho{
    width: 20 vw;
    height: 12 hw;
}
.formulario-contenedor{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}
.contain-form{
    width: 100%;
    
    
}
.formulario{
    background-color: #ebebeb;
}
.input-form{
    width: 100%;
    padding: 8px;
    display: block;
    margin: 2px auto;
    box-sizing: border-box;
    border: 1px solid #D5CAD8;
    border-radius: 10px;
}
.footer{
    display: block;
}
@media only screen and (max-width: 674px) and (min-width: 320px){
    .sec-sub1{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;

    }
    .container-logo{
        width: 50%;
    }
    .buscador{
        width: 50%;
    }
    .forma-de-compra{
        width: 100%;
    }
    .sec-sub2{
        display:none;
    }
    .productos-central{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .nav-burguer{
        display: block;
        text-align: center;
    }
    .articulos{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 0%;
    }
    .formulario-contenedor{
        width: 100vw;
    }
    .forma-pago{
        width: 90%;
    }
    .envio-gratis{
        width: 90%;
    }
    .usuario-protegido{
        width: 90%;
    }

}